.Viewport {
  /* text-align: center; */
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
}
.title h1 {
  font-size: 2em;
  margin-bottom: 1px;
}
.title {
  /* position: relative; */
  margin: 50px auto;
  /* text-align: center; */
  width: 500px;
}
.title div {
  width: 300px;
  height: 9px;
}
.line-one {
  /* position: absolute; */
  margin: 5px auto;
  margin-right: 25px;
  background-color: var(--verde-claro);
}
.line-two {
  /* position: absolute; */
  margin: 0px auto;
  background-color: var(--verde-oscuro);
}
.title-description {
  display: flex;
  width: 80%;
  margin: 20px auto;
  /* border: 1px solid red; */
  justify-content: space-between;
  /* line-height: 1.7; */
  /* text-align: center; */
  text-align: left;
}
.title-description p {
  font-size: 1.3em;
  font-weight: 500;
}
.title-description img {
  /* width: 250px; */
  /* border: 5px solid black; */
  width: 300px;
}
.title-description h2 {
  font-size: 3.7em;
  text-align: left;
  margin-top: 0;
}
.description {
  flex-basis: 60%;
}
.personality {
  color: var(--verde-oscuro);
}
.dot {
  color: var(--verde-claro);
}

@media only screen and (max-width: 750px) {
  .title-description img {
    width: 400px;
  }
}

@media only screen and (max-width: 500px) {
  .title h1 {
    font-size: 1.8em;
  }
  .title {
    margin: 50px auto;
    width: 350px;
  }
  .title div {
    width: 200px;
    height: 7px;
  }
  .line-one {
    margin-right: 40px;
  }
  .title-description img {
    width: 300px;
  }
  .logo-img {
    width: 70px;
  }
  h3 {
    font-size: 1.6em;
  }
  .Header {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 385px) {
  .title-description img {
    width: 270px;
  }
}
