.Viewport {
  /* text-align: center; */
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 80px;
  /* height: 100vh; */
}
.title h1 {
  font-size: 2em;
  margin-bottom: 1px;
}
.title {
  /* position: relative; */
  margin: 50px auto;
  /* text-align: center; */
  width: 500px;
}
.title div {
  width: 300px;
  height: 9px;
}
.line-one {
  /* position: absolute; */
  margin: 5px auto;
  margin-right: 25px;
  background-color: var(--verde-claro);
}
.line-two {
  /* position: absolute; */
  margin: 0px auto;
  background-color: var(--verde-oscuro);
}
.title-description {
  display: flex;
  width: 80%;
  margin: 20px auto;
  /* border: 1px solid red; */
  justify-content: space-between;
  /* line-height: 1.7; */
  /* text-align: center; */
  text-align: left;
}
.title-description p {
  font-size: 1.3em;
  font-weight: 500;
}
.title-description img {
  /* width: 250px; */
  /* border: 5px solid black; */
  width: 300px;
}
.cuadro {
  order: 3;
}
.title-description h2 {
  font-size: 3.7em;
  text-align: left;
  margin-top: 0;
}
.description {
  flex-basis: 60%;
  order: 1;
}
.personality {
  color: var(--verde-oscuro);
}
.dot {
  color: var(--verde-claro);
}
.reviews {
  margin-top: 70px;
}
.reviews p {
  font-style: italic;
  margin: 8px;
  color: gray;
}
.reviews span {
  margin-top: 40px;
  display: block;
  font-weight: 500;
}

@media only screen and (max-width: 800px) {
  .title-description {
    width: 90%;
  }
  .title-description img {
    width: 230px;
  }
  .title-description h2 {
    font-size: 2.8em;
  }
}

@media only screen and (max-width: 580px) {
  .title-description {
    display: block;
    width: 95%;
    text-align: center;
  }
  .title-description h2 {
    font-size: 2.4em;
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  .title {
    width: 99%;
  }
}
